* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #000000;
    text-align: center;
}

.pad
{
    margin-top:10px;
}

.all
{
    display:inline-block;
    margin: 1px;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border-style:solid;
    border-width: 1px;
    transition: all 0.5s;
}

.drum
{
    background:linear-gradient(#6cabfd,#2e7be3);
    border-color:#7bb4ff;
    box-shadow: 0px -2px #8fb8ed;
}

.notes
{
    background:linear-gradient(#f85dad,#f52891);
    border-color:#e485b6;
    box-shadow: 0px -2px #e485b6;
}

.laugther
{
    background:linear-gradient(#fbb25f, #de851f);
    border-color:#cba478;
    box-shadow: 0px -2px #cba478;
}

#button
{
    height: 150px;
    width: 150px;
    transition: all 0.5s;
}

@media only screen and (max-width: 600px) {
    .pad
    {
      height: 75px;
      width: 75px;
      border-radius:5px;

    }

    #button
    {
        height: 75px;
        width: 75px;
    }
  }